<nav>
  <div>
    <div>

      <button
        *ngIf="authService.isAuthenticated()"
        routerLink="/home">
        Home
      </button>

      <button
        id="qsLoginBtn"
        *ngIf="!authService.isAuthenticated()"
        (click)="authService.login()">
        Log In
      </button>

      <button
        id="qsLogoutBtn"
        *ngIf="authService.isAuthenticated()"
        (click)="authService.logout()">
        Log Out
      </button>

    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
