<div *ngIf="profile">
  <div>
    Photo de profil
  </div>
  <div>
    <img src="{{ profile.picture }}">
  </div>
  <div>
    Pseudo
    <h3>{{ profile.nickname }}</h3>
  </div>
  <div>
    Tout le profil
    <pre>{{ profile | json }}</pre>
  </div>
</div>

