<h4 *ngIf="authService.isAuthenticated()">
  Vous êtes connecté ! Vous pouvez accéder à <a routerLink="/home">l'accueil</a>.
</h4>
<h4 *ngIf="!authService.isAuthenticated()">
  Vous n'êtes pas connecté, <a (click)="_authService.login()">connectez-vous</a> pour continuer.
</h4>
